<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Нова книжка:">
    <meta name="description" content="">
    <title>Нова книга</title>
    <link rel="stylesheet" href="style/nicepage.css" media="screen" th:href="@{/style/nicepage.css}">
    <link rel="stylesheet" href="style/add-new-book.css" media="screen" th:href="@{/style/add-new-book.css}">
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js"
            th:href="@{/js/jquery-1.9.1.min.js}" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" th:href="@{/js/nicepage.js}"
            defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Нова книга">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-overlap u-xl-mode" data-lang="ru">
<header class="u-clearfix u-header u-white u-header" id="sec-72b7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:method="post" th:onclick="|window.location.href='/books'|" style="padding: 10px 20px;">Книжки</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Художня література</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/'|"style="padding: 10px 20px;">Про барахолку</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/contacts'|" style="padding: 10px 20px;">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Книжки</a>
                                <div class="u-nav-popup">
                                    <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Художня література</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:onclick="|window.location.href='/'|">Про
                                барахолку</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:onclick="|window.location.href='/contacts'|">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section class="u-clearfix u-section-1" id="carousel_3b57">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h2 class="u-custom-font u-text u-text-custom-color-4 u-text-font u-text-1">Нова книжка:</h2>
                        <div class="u-form u-form-1">
                            <form th:action="@{/books/add-new-book}" th:object="${book}" th:method="post"
                                  class="u-clearfix u-form-spacing-11 u-form-vertical u-inner-form"
                                  style="padding: 18px;">
                                <div class="u-form-group u-form-name">
                                    <label for="titleInput" class="u-label u-text-custom-color-4 u-label-1">Назва</label>
                                    <input type="text" placeholder="Введіть назву книги" id="titleInput" th:field="*{title}" name="title"
                                           class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle"
                                           required="">
                                </div>
                                <div class="u-form-group u-form-name">
                                    <label for="authorInput"
                                           class="u-label u-text-custom-color-4 u-label-1">Автор</label>
                                    <input type="text" placeholder="Введіть автора книги" id="authorInput" th:field="*{author}" name="author"
                                           class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle"
                                           required="">
                                </div>
                                <div class="u-form-group u-form-select u-form-group-3">
                                    <label for="categoryInput"
                                           class="u-label u-text-custom-color-4 u-label-3">Жанр</label>
                                    <div class="u-form-select-wrapper">
                                        <select id="categoryInput" th:field="*{category}" name="category"
                                                class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle">
                                            <option th:value="1">Художня література</option>
                                            <option th:value="2">Нон-фікшн</option>
                                            <option th:value="3">Психологія</option>
                                            <option th:value="4">Інше</option>
                                        </select>
                                        <svg class="u-caret u-caret-svg" id="Layer_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px"
                                             height="16px" viewBox="0 0 16 16" style="fill:currentColor;"
                                             xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                                    </div>
                                </div>
                                <div class="u-form-group u-form-select u-form-group-4">
                                    <label for="coverInput"
                                           class="u-label u-text-custom-color-4 u-label-4">Палітурка</label>
                                    <div class="u-form-select-wrapper">
                                        <select id="coverInput" th:field="*{cover}" name="cover"
                                                class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle"
                                                required="required">
                                            <option th:value="2">Тверда</option>
                                            <option th:value="1">М'яка</option>
                                        </select>
                                        <svg class="u-caret u-caret-svg" id="Layer_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px"
                                             height="16px" viewBox="0 0 16 16" style="fill:currentColor;"
                                             xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                                    </div>
                                </div>
                                <div class="u-form-group u-form-textarea u-form-group-5">
                                    <label for="descriptionInput" class="u-label u-text-custom-color-4 u-label-5">Опис
                                        книги</label>
                                    <textarea rows="5" cols="50" id="descriptionInput" th:field="*{description}" name="description"
                                              class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle"
                                              required="" placeholder="Введіть опис книги та її стан"></textarea>
                                </div>
                                <div class="u-form-group u-form-group-6">
                                    <label for="priceInput" class="u-label u-text-custom-color-4 u-label-6">Ціна</label>
                                    <input type="number" placeholder="Введіть ціну книги" id="priceInput" th:field="*{price}" name="price"
                                           class="u-border-1 u-border-grey-30 u-custom-color-4 u-input u-input-rectangle"
                                           required="required">
                                </div>
                                <div class="u-align-left u-form-group u-form-submit">
                                    <button type="submit" class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Надіслати<br>
                                    </button>
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Дякую! Запит на додавання книги відправлено.
                                </div>
                                <div class="u-form-send-error u-form-send-message"> Не вдалося зробити запит. Спробуйте ще раз.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="e398753bbdc8f50c680903cbcf796fbe">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="u-align-center-sm u-align-center-xs u-container-
                style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <img class="u-border-2 u-border-custom-color-4 u-image u-image-default u-image-1"
                             src="images/photo_2022-11-02_18-02-46.jpg" data-image-width="676" data-image-height="1002" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-custom-color-4 u-footer u-footer" id="sec-8361">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</footer>

</body>
</html>