<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Контакти</title>
    <link rel="stylesheet" href="style/nicepage.css" media="screen" th:href="@{/style/nicepage.css}">
    <link rel="stylesheet" href="style/contacts.css" media="screen" th:href="@{/style/contacts.css}">
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js"
            th:href="@{/js/jquery-1.9.1.min.js}" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" th:href="@{/js/nicepage.js}"
            defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Контакти">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="ru">
<header class="u-clearfix u-header u-white u-header" id="sec-72b7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:method="post" th:onclick="|window.location.href='/books'|" style="padding: 10px 20px;">Книжки</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Художня література</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/'|" style="padding: 10px 20px;">Про барахолку</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/contacts'|" style="padding: 10px 20px;">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Книжки</a>
                                <div class="u-nav-popup">
                                    <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Художня
                                            література</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:onclick="|window.location.href='/'|">Про
                                барахолку</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:onclick="|window.location.href='/contacts'|">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section class="u-clearfix u-section-1" id="carousel_35cc">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-opacity u-opacity-75 u-shape u-shape-svg u-text-custom-color-2 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                <use xlink:href="#svg-8caa"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-8caa"
                 style="enable-background:new 0 0 160 160;">
                <path d="M10.3,39.9c-18.2,24.9-9.2,62.5,4,87.4c8.2,15.4,23,36.1,48.6,32.2c5.8-0.9,11.1-3.2,16.9-4.3c17.8-3.4,37.9,4.7,54.5-1.5
	c6.6-2.5,11.6-6.9,15.5-11.8c12.2-15.3,13.7-35.6,3.8-51.9c-6.9-11.5-19-20.9-23.6-33.1c-4.5-11.9-1.4-24.9-4.7-37.1
	C121.1,5,103.7-5.6,85.7,3.1c-6.8,3.3-12.6,7.7-20,10.2C58,15.9,49.5,16.6,41.6,19C26.8,23.6,16.7,31,10.3,39.9z"></path>
            </svg>
        </div>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-29 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
                                Контакти</h3>
                            <h6 class="u-text u-text-default u-text-2">Привіт!</h6>
                            <p class="u-text u-text-3">Якщо виникли якісь питання або ти просто хочеш мені написати -
                                буду з нетерпінням чекати!</p>
                            <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                <a class="u-social-url" target="_blank" data-type="Custom" title="Telegram"
                                   href="https://t.me/demus_a"><span
                                        class="u-file-icon u-icon u-social-custom u-social-icon u-icon-1"><img
                                        src="images/408737.png" alt=""></span>
                                </a>
                                <a class="u-social-url" target="_blank" data-type="Custom" title="Instagram"
                                   href="https://www.instagram.com/trans_universi/"><span
                                        class="u-file-icon u-icon u-social-custom u-social-icon u-icon-2"><img
                                        src="images/408707.png" alt=""></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h3 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-white u-text-4">
                                Основні питання</h3>
                            <h6 class="u-text u-text-default u-text-white u-text-5">Доставка:</h6>
                            <p class="u-text u-text-white u-text-6">Ми можемо зустрітися у Дніпрі або можна отримати
                                книжку Новою поштою або Укрпоштою.<br>
                            </p>
                            <p class="u-text u-text-white u-text-7">Готівкою або на карту Монобанку/ПриватБанку<br>
                            </p>
                            <h6 class="u-text u-text-default u-text-white u-text-8">Оплата:</h6>
                            <div class="u-opacity u-opacity-80 u-shape u-shape-svg u-text-custom-color-3 u-shape-2">
                                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                                    <use xlink:href="#svg-4a6a"></use>
                                </svg>
                                <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-4a6a">
                                    <path d="M157.4,45.5c11.3-39.1-16.3-50.2-43.8-43.8c-25.2,5.8-35.5,17.2-61,16.5C21.7,17.4,0,39.8,0,71.3
	c0,49.1,58.2,47.8,76.2,68.5c38.8,44.7,92.8,8.2,79.3-40.3C148.1,73.2,155.9,50.6,157.4,45.5z"></path>
                                </svg>
                            </div>
                            <div class="u-rotation-parent u-rotation-parent-1">
                                <div class="u-opacity u-opacity-60 u-rotate-270 u-shape u-shape-svg u-text-custom-color-1 u-shape-3">
                                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style="">
                                        <use xlink:href="#svg-6c53"></use>
                                    </svg>
                                    <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-6c53">
                                        <g>
                                            <g>
                                                <path d="M138.9,102.2c-9.5,10.1-24.4,20.2-41.2,27.4C63.2,144.5,21,147.1,3.1,112.4c-9.9-19.1,6.5-28.8,11.8-45.7
			c5.3-16.9-11.4-32.3-5.1-49.9c1.8-4.9,4.9-9,8.9-11.9C24,1,30.8-0.8,37.8,0.3C43.6,1.2,49,3.5,54.3,5.7c8.8,3.7,17.4,7.1,26.3,9.8
			c15.7,4.7,31.3,3.7,47.1,7.2c8.5,1.9,16.7,5.6,22.6,11.8C170.3,55.7,155.8,84.1,138.9,102.2z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-custom-color-4 u-footer u-footer" id="sec-8361">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</footer>

</body>
</html>