<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="супер, що книга вам сподобалась!">
    <meta name="description" content="">
    <title th:text="${book.title}"></title>
    <link rel="stylesheet" href="style/nicepage.css" media="screen" th:href="@{/style/nicepage.css}">
    <link rel="stylesheet" href="style/description.css" media="screen" th:href="@{/style/description.css}">
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js"
            th:href="@{/js/jquery-1.9.1.min.js}" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" th:href="@{/js/nicepage.js}"
            defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Опис книги">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="ru">
<header class="u-clearfix u-header u-white u-header" id="sec-72b7">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:method="post" th:onclick="|window.location.href='/books'|" style="padding: 10px 20px;">Книжки</a>
                        <div class="u-nav-popup">
                            <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Художня література</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                </li>
                                <li class="u-nav-item"><a
                                        class="u-active-custom-color-1 u-button-style u-custom-color-5 u-hover-custom-color-2 u-nav-link"
                                        th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/'|" style="padding: 10px 20px;">Про барахолку</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-grey-50 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            th:onclick="|window.location.href='/contacts'|" style="padding: 10px 20px;">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Книжки</a>
                                <div class="u-nav-popup">
                                    <ul class="u-h-spacing-21 u-nav u-unstyled u-v-spacing-14">
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Художня
                                            література</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Нон-фікшн</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                                  th:method="post" th:onclick="|window.location.href='/books'|">Психологія</a>
                                        </li>
                                        <li class="u-nav-item"><a class="u-button-style u-nav-link" th:method="post" th:onclick="|window.location.href='/books'|">Інше</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:onclick="|window.location.href='/'|">Про
                                барахолку</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:onclick="|window.location.href='/contacts'|">Контакти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section th:action="@{/description/{id}}" th:object="${book}" class="u-clearfix u-section-1" id="sec-2210">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-custom-color-7 u-expanded-width u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-28 u-image-1"
                         data-image-width="200" data-image-height="329" th:src="@{images/books/${book.pathToImage}}" alt="">
                        <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-32 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-3">
                            <h3 class="u-text u-text-custom-color-4 u-text-1" th:text="${book.title}"></h3>
                            <h3 class="u-text u-text-custom-color-3 u-text-2" th:text="${book.author}"></h3>
                            <p class="u-text u-text-3" th:text="${book.description}"></p>
                            <p class="u-text u-text-3" th:text="'Палітурка: ' + ${book.cover}"></p>
                            <a href="#sec-58a7"
                               class="u-border-2 u-border-custom-color-3 u-btn u-button-style u-dialog-link u-hover-palette-2-light-1 u-none u-text-custom-color-3 u-text-hover-white u-btn-1">Купити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a th:method="post" th:onclick="|window.location.href='/books'|"
           class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">До
            книжок</a>
    </div>
</section>


<footer class="u-align-center u-clearfix u-custom-color-4 u-footer u-footer" id="sec-8361">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</footer>

<section
        class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-4"
        id="sec-58a7">
    <div class="u-container-style u-custom-color-7 u-dialog u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-text u-text-custom-color-4 u-text-default u-text-font u-text-1">
                супер, що книга вам сподобалась!</h2>
            <p class="u-align-center u-text u-text-default u-text-2">Прошу надіслати контакт для зв'язку, щоб ми могли
                вирішити усі питання щодо книги, доставки, тощо.</p>
            <p class="u-align-center u-text u-text-default u-text-3">Наприклад, instagram/telegram або будь що інше.</p>
            <div class="u-form u-form-1">
                <form action="https://forms.nicepagesrv.com/Form/Process"
                      class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px"
                      source="email" name="form" redirect-address="/Книжки.html">
                    <div class="u-form-group u-form-group-1">
                        <label for="text-a896" class="u-form-control-hidden u-label"></label>
                        <input type="text" placeholder="Введіть назву додатку та контакт для зв'язку" id="text-a896"
                               name="contact"
                               class="u-border-1 u-border-custom-color-1 u-input u-input-rectangle u-white"
                               required="required">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                        <a href="#"
                           class="u-border-2 u-border-custom-color-3 u-btn u-btn-submit u-button-style u-hover-palette-2-light-1 u-none u-text-custom-color-3 u-text-hover-white u-btn-1">Надіслати</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success">Дякую! Контакт відправлено та я скоро з вами
                        зв'яжуся.
                    </div>
                    <div class="u-form-send-error u-form-send-message">Не вдалося відправити дані, спробуйте ще раз і
                        все вийде. Дякую.
                    </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                    <input type="hidden" name="formServices" value="e398753bbdc8f50c680903cbcf796fbe">
                </form>
            </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 348.333 348.334" style="">
                <use xlink:href="#svg-9711"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 348.333 348.334" x="0px" y="0px" id="svg-9711"
                 style="enable-background:new 0 0 348.333 348.334;"><g><path d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85   c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563   c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85   l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554   L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"></path>
</g></svg>
        </button>
    </div>
</section>
<style> .u-dialog-section-4 {
    min-height: 826px;
}

.u-dialog-section-4 .u-dialog-1 {
    width: 545px;
    min-height: 329px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
    height: auto;
    margin: 235px auto 60px;
}

.u-dialog-section-4 .u-container-layout-1 {
    padding: 30px 8px 15px;
}

.u-dialog-section-4 .u-text-1 {
    line-height: 1;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0 auto;
}

.u-dialog-section-4 .u-text-2 {
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 13px 22px 0;
}

.u-dialog-section-4 .u-text-3 {
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 12px 47px 0;
}

.u-dialog-section-4 .u-form-1 {
    height: 129px;
    width: 485px;
    margin: 0 auto;
}

.u-dialog-section-4 .u-form-group-1 {
    margin-left: 0;
}

.u-dialog-section-4 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.u-dialog-section-4 .u-icon-1 {
    width: 16px;
    height: 16px;
    left: auto;
    top: 17px;
    position: absolute;
    right: 16px;
}

@media (max-width: 1199px) {
    .u-dialog-section-4 .u-text-2 {
        margin-left: 22px;
        margin-right: 22px;
    }

    .u-dialog-section-4 .u-text-3 {
        margin-right: 22px;
        margin-left: 47px;
    }

    .u-dialog-section-4 .u-form-1 {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 540px;
    }

    .u-dialog-section-4 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-dialog-section-4 .u-text-3 {
        margin-top: 81px;
    }

    .u-dialog-section-4 .u-form-1 {
        margin-top: -79px;
    }
}

@media (max-width: 575px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 340px;
    }

    .u-dialog-section-4 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-dialog-section-4 .u-text-3 {
        margin-top: 52px;
    }

    .u-dialog-section-4 .u-form-1 {
        margin-top: -118px;
        width: 323px;
    }
}</style>
</body>
</html>