 .u-section-1 {
  min-height: 760px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 946px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 58px -1px 0;
}

.u-section-1 .u-form-1 {
  height: 723px;
  width: 570px;
  margin: 0 auto;
}

.u-section-1 .u-label-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-label-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 0;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 946px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 535px;
  height: 775px;
  filter: brightness(0.9);
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 103px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 780px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
  }

  .u-section-1 .u-form-group-3 {
    letter-spacing: normal;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 594px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 480px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 435px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 896px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 564px;
  }
}