.u-section-1 .u-sheet-1 {
  min-height: 1421px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-weight: 300;
  width: 590px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-family: abril-fatface;
  line-height: 1;
  width: 561px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 878px;
  margin: 57px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  grid-gap: 27px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-8 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 134px;
  height: 220px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 125px;
  height: 86px;
  margin: -250px 18px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -57px 25px 0 138px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
    min-height: 527px;
    grid-gap: 22px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-7 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-8 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 59px;
  }

  .u-section-1 .u-shape-9 {
    margin-top: -263px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2884px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6.5px));
    grid-gap: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-11 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-13 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-15 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-17 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 276px;
  }

  .u-section-1 .u-text-19 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 276px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 81px;
  }
}