.u-section-1 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-1 .u-shape-1 {
  width: 684px;
  height: 475px;
  margin: 153px -25px 0 481px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -366px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 602px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 22px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 23px auto 0 30px;
}

.u-section-1 .u-text-3 {
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 0 160px 0 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 42px;
  min-height: 16px;
  width: 95px;
  min-width: 42px;
  margin: 31px auto 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 0;
}

.u-section-1 .u-icon-2 {
  height: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 602px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 41px auto 0 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: -29px 40px 0 183px;
}

.u-section-1 .u-text-7 {
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 35px 40px 0 183px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: -40px auto 0 33px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 272px;
  margin: 11px -25px 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 553px;
  height: 299px;
  margin: -272px auto 0 -134px;
}

.u-section-1 .u-shape-3 {
  width: 299px;
  height: 553px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 60px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 94px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 123px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 123px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-1 .u-rotation-parent-1 {
    height: 298px;
  }

  .u-section-1 .u-shape-3 {
    width: 226px;
    height: 363px;
    margin: -272px auto 0 -160px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 221px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 360px;
    height: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 335px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-1 .u-shape-1 {
    width: 590px;
    margin-top: 276px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -699px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 77px;
    margin-right: 177px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 18px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 65px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -66px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 39px;
    margin-right: 26px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -273px;
    margin-right: 75px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 503px;
    height: 462px;
    margin-top: 287px;
    margin-left: -30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -697px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 2px;
    margin-right: 106px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 29px;
    margin-right: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 5px;
    margin-right: -12px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 52px;
    margin-right: -52px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -74px;
    margin-left: 52px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 45px;
    margin-right: -119px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    margin-top: -248px;
    margin-right: -100px;
    margin-bottom: -11px;
  }

  .u-section-1 .u-shape-3 {
    width: 316px;
    height: 340px;
  }
}