 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/pexels-photo-4406619.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-shape-1 {
  width: 194px;
  height: 144px;
  margin: 286px 260px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3px;
  margin: -106px 267px 0 719px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 6px;
  width: 232px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.3;
  width: 380px;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1090px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -912px;
    margin-right: 167px;
    margin-left: 619px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 57px;
    margin-left: 509px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 290px;
    margin-right: -7px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -112px;
    margin-right: 0;
    margin-left: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1126px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -948px;
    margin-left: 186px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 20px;
  }
}